<div class="col-sm-12 comment-indent">
    <p class ="text-light">[{{comment.author.username}}] {{comment.content}}</p>
    {{#each comment.comments}}
        {{> comment comment=this pokemonId=../pokemonId}}
    {{/each}}
</div>
